{% block werkl_cms_element_blog_detail_config %}
<div class="werkl-cms-el-config-blog-detail">

    {% block werkl_cms_element_blog_detail_config_meta %}
    <sw-card
        :title="$tc('werkl-blog.elements.blogDetail.config.showMeta.label')"
        :hero="false"
        :isLoading="false"
        :large="false"
        class="werkl-cms-el-config-blog-detail-meta">

        {% block werkl_cms_element_blog_detail_config_meta_show_author %}
        <mt-checkbox
            v-model:checked="element.config.showAuthor.value"
            :label="$tc('werkl-blog.elements.blogDetail.config.showMeta.showAuthor')"
        />
        {% endblock %}

        {% block werkl_cms_element_blog_detail_config_meta_show_category %}
        <mt-checkbox
            v-model:checked="element.config.showCategory.value"
            :label="$tc('werkl-blog.elements.blogDetail.config.showMeta.showCategory')"
        />
        {% endblock %}

        {% block werkl_cms_element_blog_detail_config_meta_full_width %}
        <mt-checkbox
            v-model:checked="element.config.fullWidth.value"
            :label="$tc('werkl-blog.elements.blogDetail.config.showMeta.fullWidth')"
        />
        {% endblock %}

    </sw-card>
    {% endblock %}

    {% block werkl_cms_element_blog_detail_config_back_button %}
    <sw-card
        :title="$tc('werkl-blog.elements.blogDetail.config.backButton.label')"
        :hero="false"
        :isLoading="false"
        :large="false"
        class="werkl-cms-el-config-blog-detail-back-button">

        {% block werkl_cms_element_blog_detail_config_back_button_show %}
        <mt-checkbox
            v-model:checked="element.config.showBackButton.value"
            :label="$tc('werkl-blog.elements.blogDetail.config.backButton.showBackButton')"
        />
        {% endblock %}

        {% block werkl_cms_element_blog_detail_config_back_button_url %}
        <mt-text-field
            v-model:value="element.config.backButtonUrl.value"
            :label="$tc('werkl-blog.elements.blogDetail.config.backButton.backButtonUrl')"
            :placeholder="$tc('werkl-blog.elements.blogDetail.config.backButton.backButtonUrlPlaceholder')"
            :helpText="$tc('werkl-blog.elements.blogDetail.config.backButton.backButtonUrlHelp')"
            :disabled="!element.config.showBackButton.value"
        />
        {% endblock %}

    </sw-card>
    {% endblock %}

</div>
{% endblock %}
