{% block werkl_blog_list %}
<sw-page class="werkl-blog-list">
    <template #smart-bar-header>
        <h2>
            {% block werkl_blog_list_smart_bar_header_title_text %}
            {{ $tc('werkl-blog.list.textBlogOverview') }}
            {% endblock %}

            {% block werkl_blog_list_smart_bar_header_amount %}
            <span v-if="!isLoading" class="sw-page__smart-bar-amount">
                ({{ total }})
            </span>
            {% endblock %}
        </h2>
    </template>

    <template #language-switch>
        <sw-language-switch @on-change="changeLanguage" />
    </template>

    {% block werkl_blog_list_smart_bar_actions %}
    <template #smart-bar-actions>
        {% block werkl_blog_list_smart_bar_actions_add %}
        <mt-button
            variant="primary"
            size="default"
            @click="$router.push({ name: 'blog.module.create' })"
        >
            {{ $tc('werkl-blog.list.buttonAddBlogEntry') }}
        </mt-button>

        <mt-button
            variant="secondary"
            size="default"
            @click="openSponsorPage"
        >
            {{ $tc('werkl-blog.list.buttonSponsor') }}
        </mt-button>
        {% endblock %}
    </template>
    {% endblock %}

    <template #sidebar>
        <werkl-blog-vertical-tabs />
    </template>

    <template #side-content>
        {% block werkl_blog_category_side_content %}
        <werkl-blog-category-tree
            :categoryId="categoryId"
            :currentLanguageId="currentLanguageId"
            @update:categoryId="changeCategoryId"
        />
        {% endblock %}
    </template>

    <template #content>
        {% block werkl_blog_list_content %}
        <sw-entity-listing
            v-if="blogEntries"
            :items="blogEntries"
            :repository="blogEntryRepository"
            :show-selection="false"
            :columns="columns"
            detail-route="blog.module.detail"
        >
            {% block werkl_blog_list_grid_columns_name %}
            <template #column-active="{ item, isInlineEdit }">
                {% block werkl_blog_list_grid_columns_name_inline_edit %}
                <template v-if="isInlineEdit">
                    <mt-checkbox v-model:checked="item.active" />
                </template>
                {% endblock %}

                {% block werkl_blog_list_grid_columns_name_content %}
                <template v-else>
                    <mt-icon
                        v-if="item.active"
                        name="regular-checkmark-xs"
                        size="16px"
                        class="is--active"
                    />
                    <mt-icon
                        v-else
                        name="regular-times-xs"
                        size="16px"
                        class="is--inactive"
                    />
                </template>
                {% endblock %}
            </template>
            {% endblock %}

            {% block werkl_blog_list_grid_columns_author %}
            <template #column-author="{ item }">
                {% block werkl_blog_list_grid_columns_author_content %}
                <router-link :to="{ name: 'blog.module.author.detail', params: { id: item.authorId } }">
                    {{ salutation(item.blogAuthor) }}
                </router-link>
                {% endblock %}
            </template>
            {% endblock %}

            {% block werkl_blog_list_grid_columns_published %}
            <template #column-publishedAt="{ item }">
                {{ dateFilter(item.publishedAt, { hour: undefined, minute: undefined }) }}
            </template>
            {% endblock %}

            {% block werkl_blog_list_grid_actions %}
            <template #actions="{ item }">
                {% block werkl_blog_list_grid_actions_edit %}
                <sw-context-menu-item @click="onEdit(item)">
                    {{ $tc('werkl-blog.list.contextMenuEdit') }}
                </sw-context-menu-item>
                {% endblock %}

                {% block werkl_blog_list_grid_actions_duplicate %}
                <sw-context-menu-item @click="onDuplicate(item)">
                    {{ $tc('werkl-blog.list.contextMenuDuplicate') }}
                </sw-context-menu-item>
                {% endblock %}

                {% block werkl_blog_list_grid_actions_delete %}
                <sw-context-menu-item
                    variant="danger"
                    @click="onDelete(item)"
                >
                    {{ $tc('werkl-blog.list.contextMenuDelete') }}
                </sw-context-menu-item>
                {% endblock %}
            </template>
            {% endblock %}

        </sw-entity-listing>
        {% endblock %}

        {% block werkl_blog_list_empty_state %}
        <sw-empty-state
            v-if="!isLoading && !total"
            :title="$tc('werkl-blog.list.messageEmpty')"
        >
            {{ $tc('werkl-blog-author.list.messageEmpty') }}
        </sw-empty-state>
        {% endblock %}
    </template>
</sw-page>
{% endblock %}
